@page
@model PetCareConnect.Pages.AssignmentDetailsModel
@{
    ViewData["Title"] = "Assignment Details";
}

<div class="container">
    <h1>Assignment Details</h1>

    <!-- Display assignment details here -->
    <div class="card">
        <div class="card-body">
            <h2>@Model.Assignment.StartDate.ToShortDateString() - @Model.Pet.Name</h2>
            <!-- Add more details as needed -->
        </div>
    </div>

    <!-- Buttons to change or delete assignment -->
    <div class="mt-3">
    <form method="get" asp-page="/EditAssignment" asp-route-assignmentId="@Model.Assignment.AssignmentId">
        <button type="submit" class="btn btn-primary mb-2">Change Assignment</button>
    </form>

    <form asp-page-handler="DeleteAssignment" asp-route-assignmentId="@Model.Assignment.AssignmentId">
        <button type="submit" class="btn btn-danger ml-2 mb-2">Delete Assignment</button>
    </form>
</div>

</div>
