@page
@model PetCareConnect.Pages.CreateUserModel

<h2>Create a New User</h2>
<form method="post">
    <div class="form-field">
        <label for="username">Username:</label>
        <input type="text" asp-for="NewUser.Username" required />
    </div>
    <div class="form-field">
        <label for="password">Password:</label>
        <input type="password" asp-for="NewUser.PasswordHash" required />
    </div>
    <div class="form-field">
        <label for="email">Email:</label>
        <input type="email" asp-for="NewUser.Email" required />
    </div>
    <div class="form-field">
        <label for="fullname">Full Name:</label>
        <input type="text" asp-for="NewUser.FullName" required />
    </div>
    <button type="submit" class="submit-button">Create</button>
</form>

@if (!string.IsNullOrEmpty(Model.Message))
{
    <div>@Model.Message</div>
}
