@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Pet Care Connect!</h1>
    <!-- Add the image tag below -->
    <img src="~/images/petcareconnect.jpg" alt="Pet Care Connect Image" class="img-fluid" />

    <p class="lead">Connect with other pet owners and find the best pet care services in your area!</p>
    <p class="lead">Click the button below to get started!</p>
    <p>
        <a class="btn btn-primary btn-lg" asp-page="/CreateUser">Create User</a>
    </p>
    <p>
        <a class="btn btn-primary btn-lg" asp-page="/RegisterPet">Register Pet</a>
    </p>
</div>
