@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Pet Care Connect!</h1>
    <!-- Add the image tag below -->
    <img src="~/images/petcareconnect.jpg" alt="Pet Care Connect Image" style="width:70%;height:70%" />

    <p>Connect with other pet owners and find the best pet care services in your area!</p>
    <p>Click the button below to get started!</p>
    <p>
		<a class="btn btn-primary" asp-page="/PetOwners/Index">Get Started</a>
    
</div>

test test test

hej jeg hedder mikkel