@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Pet Care Connect!</h1>
    <!-- Add the image tag below -->
    <img src="~/images/petcareconnect.jpg" alt="Pet Care Connect Image" style="width:70%;height:70%" />
</div>

hej jeg hedder malthe