@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="color: white;">Welcome To Pet Care Connect!</h1>
    <!-- Add the image tag below -->
    <img src="~/images/petcareconnect.jpg" alt="Pet Care Connect Image" class="img-fluid" />
    <p class="lead" style="color: white;">Connect with other pet owners and find the best pet care services in your area!</p>
</div>
