@page
@model PetCareConnect.Pages.RegisterPetModel
@{
    ViewData["Title"] = "Register Pet";
}

<h1>Register Pet</h1>
<div class="form-container">
<form method="post">
    <div class="form-field">
        <label>Name:</label>
        <input type="text" asp-for="Pet.Name" />
    </div>
    <div class="form-field">
        <label>Species:</label>
        <input type="text" asp-for="Pet.Species" />
    </div>
    <div class="form-field">
        <label>Breed:</label>
        <input type="text" asp-for="Pet.Breed" />
    </div>
    <div class="form-field">
        <label>Age:</label>
        <input type="number" asp-for="Pet.Age" />
    </div>
    <div class="form-field">
        <label>Additional Pet Info:</label>
        <input type="text" asp-for="Pet.Info" />
    </div>

    <button type="submit" class="submit-button">Register</button>
</form>

