@page
@model PetCareConnect.Pages.SendMessageModel

<form method="post">
    <div class="form-group">
        <label for="content">Message</label>
        <textarea id="content" name="Content" class="form-control" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>
