@page
@model PetCareConnect.Pages.YourProfileModel
<div class="container">
    <h2 class="mb-3">@Model.User.Username's Profile</h2>
    <div class="user-details">
        <p>Full Name: @Model.User.FullName</p>
        <p>Email: @Model.User.Email</p>
    </div>
    

<!-- Link to Register Pet Page -->
<p>
    <a class="btn btn-primary" asp-page="/RegisterPet">Register Pet</a>
</p>

<!-- Link to Create Assignment Page -->
<p>
    <a class="btn btn-primary" asp-page="/CreateAssignmentModel">Create Assignment</a>
</p>

<!-- Link to Registered Pets Page -->
<p>
    <a class="btn btn-primary" asp-page="/RegisteredPets">Registered Pets</a>
</p>