@page
@model PetCareConnect.Pages.YourProfileModel
<div class="container">
    <h2 class="mb-3">@Model.User.Username's Profile</h2>
    <div class="user-details">
        <p>Full Name: @Model.User.FullName</p>
        <p>Email: @Model.User.Email</p>
    </div>
    

    <p class="mt-3">
        <a class="btn btn-primary" asp-page="/RegisterPet">Register Pet</a>
    </p>
</div>
